body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial;
    background-color: rgb(26 142 241);
    
}

.content {
    background-color: #aed9ff;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.title {
    background-color: rgb(26 142 241);
    color: white;
    font-size: 40pt;
    text-align: center;
    font-family: 'Times New Roman';
    width: 332px;
    border-radius: 5px;
}

.container {
    width: 200px;
    margin-bottom: 20px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    background-color: rgb(26 142 241);
    text-align: center;
    color: white;
    font-size: 15pt;
    border-radius: 5px;
    width: 87.13px;
    height: auto;
    cursor: pointer;
    margin-left: 5px;
    padding: 6px;
}

.submitButton:hover {
    background-color: rgb(2, 205, 120);
}

.insertTask {
    font-size: 15pt;
    border-radius: 5px;
    
    padding: 6px;
    padding-left: 3px;
}

a {
    background-color: rgb(26 142 241);
    text-align: center;
    color: white;
    font-size: 10pt;
    width: 44px;
    height: 16px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: auto;
    padding: 2px;
    margin-bottom: 3px;
    text-decoration: none;

}

a:hover {
    background-color: red;
}

.containerUl {
    padding-right: 40px;
}

ul {
    font-size: 14pt;
    word-break: break-word;
    padding-left: 40px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid black;
    width: 287px;
    margin-bottom: 20px;
}

input.checkbox {
    cursor: pointer;
    text-decoration: line-through;
    margin-right: 10px;

}

@media screen and (min-width: 768px) {
    
    .title {
    width: 768px;
    font-size: 60pt;
    }

    .insertTask {
        width: 760px;
        font-size: 27px;
    }

    .submitButton {
        font-size: 27px;
    }

    .container {
        width: 760px;
    }

    a{
        font-size: 12pt;
        width: 52px;
        height: 19px;
    }

    ul {
        width: 750px;
        font-size: 16pt;
    }

    li {
        width: 750px;
    }
}
